td {
  text-align: center;
  justify-items: center;
  padding-left: 15px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

body {
  text-align: center;
}

h1 {
  padding-top: 5%;
  padding-bottom: 2%;
}

button {
  margin-top: 20px;
  margin-bottom: 20px;
}
